

.blogSearch {
	width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0px 25px 0px;
    flex-direction: column-reverse;
    align-items: center;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* height: 25px; */
}

.buttons {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* float: left; */
/* text-align: right; */
/* Styles for dropdown menu */

.searchbar input[type=text] {
    font-size: 18px;
    border: 1px solid var(--nord1);
    border-radius: 10px;
    padding: 9px 15px;
    width: 50vw;
    margin: 10px 2px 0 0;
    background-color: var(--nord0);
    color: var(--nord5);
    transition: background-color 250ms linear;
}

.searchbar input[type=text]:focus {
    outline: none;
    background-color: var(--header-footer-black);
}

.searchbar input[type=text]::placeholder {
    opacity: 0.5;
    color: var(--nord5);
}

.btnGroup {
    background-color: var(--nord0);
    color: var(--nord4);
    width: 250px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.15s ease;
    border: 1px solid var(--nord2);
    border-radius: 5px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.blog_sort_button {
    background-color: var(--nord2);
    color: var(--nord4);
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.15s ease;
    border: 1px solid var(--nord3);
    border-radius: 5px;
    margin-top: 5px;
}

.blog_sort_button:focus {
    outline: none;
}
