<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Linux Club's Leaderboard">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="blog_search.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<div class="container">
			<div class="container_btn">
            <div class="searchbar">
              <div class="search">
                <input type="text" id="searchinput" onkeyup="searchFunction()"  placeholder="Search">
              </div>
            </div>
            <div class="buttons">
              <div class="btn-group">
				<span style="color: #ffffff; font-size: 14px;">Filter By: </span>
                <!-- Drop down for filtering the deparments -->
				  <select class="button">
					  <option>Technical</option>
					  <option>Management</option>
					  <option>Operations</option>
					  <option>Media</option>
					  <option>Content</option>
				  </select>
              </div>
            </div>
          </div>
		</div>
    </body>
</html>