.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    display: inline-grid;
    margin: auto;
    text-align: center;
    background: #2e3440; /* nord0 */
  
  }
  
  .batch {
    color: #ebcb8b; /* nord13 */
  }
  
  .member {
    font-size: 20px;
}
  .twos{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    font-family: tahoma;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
  }
  .spacer{
    padding: 100px;
    width: 180px;
  }
  
  @media only screen and (max-width: 700px) {
    .twos{
      grid-template-columns: repeat(2,1fr);
    }
    .spacer{
    padding: 50px;
    width: 180px;
  }
  }
  @media only screen and (max-width: 500px) {
    .twos{
      grid-template-columns: repeat(1,1fr);
    }
  }
  @media only screen and (min-width: 1500px) {
    .twos{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }