.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  display: inline-grid;
  margin: auto;
  text-align: center;
  background: #2e3440; /* nord0 */

}
.member {
    font-size: 25px;
}
.position {
  color: #bf616a; /* nord11 */
  font-size: 18px;
}
.extra {
  color: #a3be8c; /* nord11 */
  font-size: 25px;
  text-indent: 10%;
}
.batch {
  color: #ebcb8b; /* nord13 */
}

.twos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.spacer{
  padding: 13px;
}

@media only screen and (max-width: 700px) {
  .twos{
    grid-template-columns: repeat(2,1fr);
  }
}
@media only screen and (max-width: 500px) {
  .twos{
    grid-template-columns: repeat(1,1fr);
  }
}
@media only screen and (min-width: 1500px) {
  .twos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
