.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background: #2e3440; /* nord0 */
  }
  
  .position {
    color: #bf616a; /* nord11 */
    font-size: 18px;
  }
  .batch {
    color: #ebcb8b; /* nord13 */
  }
