.card {
  border: 1px solid #2f3542;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 1.6rem;
  border-radius: 11px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid;
}
.tag {
  display: inline-block;
  padding: 0.01rem 0.6rem;
  border-radius: 15px;
}

.backdrop {
  pointer-events: none;
  top: 0;
  left: 0;
  border-radius: 11px;
  z-index: 1;
  background: #4f5563;
  color: #b1b3ba;
}
