.terminal-prompt {
    background-color: var(--nord1);
}

.prompt-user-system {
    color: var(--nord11);
}

.prompt-path {
    color: var(--nord13);
}

.prompt-command {
    color: var(--nord14);
}

.terminal-contents {
    margin-top: 1rem;
}

.terminal-contents.no-prompts {
    margin-top: 0;
}
