.index {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.contents {
  background-color: var(--header-footer-black);
  color: var(--nord4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: small;
  padding-inline: 0.5em;
}

.logo {
  margin: 0.5em;
  padding: 0.5em;
  height: 2em;
  width: 2em;
  cursor: pointer;
  border-radius: 100vmax;
  background-color: var(--nord2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  background-color: var(--nord10);
}

.logo svg {
  height: 2em;
}

.links {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}
.linkk {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.link {
  /* border: 1px solid red; */
  position: absolute;
  top: 40px;
  left: 0;
  display: grid;
  grid: auto auto/ auto auto auto;
  padding-left: 30px;
  width: 100%;
  height: auto;
  background-color: #212529;
  align-items: center;
  padding-bottom: 1rem;
}

.settings {
  display: flex;
  align-items: center;
}

.settings > svg {
  fill: var(--nord3);
  cursor: pointer;
}

.settings > svg:hover,
.settings.open > svg {
  fill: var(--nord10);
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nonClickable {
  /* display: flex; */
  border-color: var(--nord2);
  height: auto;
  text-decoration: none;
  color: var(--nord4);
  background-color: var(--nord1);
  border-radius: 0.3em;
  padding-inline: 0.5em;
  margin: 0.5em;
  cursor: default;
}

.clickable {
  text-decoration: none;
  color: var(--nord4);
}

.clickable:hover {
  transform: translateY(0.5em);
  color: var(--nord10);
  background-color: var(--nord0);
  transition: ease-out 0.25s;
}

.active {
  transform: translateY(0.5em);
  background-color: var(--nord0);
  border-radius: 0.3em 0.3em 0 0;
  padding-inline: 0.5em;
  margin: 0.5em 0.5em 0 0.5em;
  color: var(--nord10);
  cursor: default;
}

.active::after {
  content: " ▲";
}

.inactive {
  background-color: var(--nord1);
  border-radius: 0.3em;
  padding-inline: 0.5em;
  margin: 0.5em;
}

.inactive::after {
  content: " ▼";
}

.bottomStrip {
  background-color: var(--nord0);
  height: 0.2em;
}

.mobileMenu {
  display: none;
  height: 20px;
  width: 20px;
}
/*for screen size 830px and 530px below navbar updated- button updated, flex direction updated, fixed the navbar breaking issue*/
@media screen and (max-width: 830px) {
  .linkk {
    /* flex-direction: column; */
    display: none;
  }
  .mobileMenu {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
  }
  .burg {
    text-decoration: none;
    color: rgb(48, 61, 61);
    height: 6vw;
    width: 20vw;
    background-color: var(--nord0);
    border-radius: 10px;
    padding-inline: 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    color: var(--nord10);
    cursor: default;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 530px) {
  .link {
    position: absolute;
    top: 40px;
    left: 0;
    display: grid;
    grid: auto auto/ auto auto auto;
    padding-left: 30px;
    width: 100%;
    height: auto;
    background-color: #212529;
    align-items: center;
    flex-direction: column !important;
    display: flex;
  }
  .burg {
    text-decoration: none;
    color: rgb(48, 61, 61);
    height: 6vw;
    width: 34vw;
    background-color: var(--nord0);
    border-radius: 10px;
    padding-inline: 0.5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    color: var(--nord10);
    cursor: default;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}
