#top-bar {
    position: fixed;
    width: 100%;
    top: 0;

    z-index: 1;
}

.top-bar-contents {
    background-color: var(--header-footer-black);
    color: var(--nord4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: small;
}

.top-bar-logo {
    margin: 0.5em;
    padding: 0.5em;
    height: 2em;
    width: 2em;
    cursor: pointer;
    border-radius: 100vmax;
    background-color: var(--nord2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-logo:hover {
    background-color: var(--nord10);
}

.top-bar-logo img {
    height: 1.5em;
}

#top-bar-links {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.top-bar-settings {
    display: flex;
    align-items: center;
    margin-right: 2px;
}

.top-bar-settings > svg {
    fill: var(--nord3);
    cursor: pointer;
}

.top-bar-settings > svg:hover,
.top-bar-settings.open > svg {
    fill: var(--nord10);
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.top-bar-element-non-clickable {
    border-color: var(--nord2);
    height: auto;
    text-decoration: none;
    color: var(--nord4);
    background-color: var(--nord1);
    border-radius: 5px;
    padding: 0px 5px;
    margin: 5px;
    cursor: default;
}

.top-bar-element-clickable {
    text-decoration: none;
    color: var(--nord4);
}

.top-bar-element-clickable:hover {
    transform: translateY(5px);
    color: var(--nord10);
    background-color: var(--nord0);
    transition: ease-out 0.5s;
}

.top-bar-element-clickable-active {
    transform: translateY(5px);
    background-color: var(--nord0);
    border-radius: 5px 5px 0px 0px;
    padding: 0px 5px;
    margin: 5px 5px 0px 5px;
    color: var(--nord10);
    cursor: default;
}

.top-bar-element-clickable-active::after {
    content: ' ▲';
}

.top-bar-element-clickable-inactive {
    background-color: var(--nord1);
    border-radius: 5px;
    padding: 0px 5px;
    margin: 5px 5px;
    border-width: 2px;
}

.top-bar-element-clickable-inactive::after {
    content: ' ▼';
}

.bottom-strip {
    background-color: var(--nord0);
    height: 5px;
}

@media only screen and (max-width: 500px) {
    #top-bar-links {
        flex-direction: column;
    }

    .top-bar-element-clickable:hover {
        transform: translateX(10px);
    }

    .top-bar-element-clickable-active {
        transform: translateY(0);
        background-color: var(--nord0);
        border-radius: 5px;
        padding: 0px 5px;
        margin: 5px 5px;
        border-width: 2px;
        color: var(--nord10);
    }

    .top-bar-element-clickable-active::after {
        content: '';
    }
    .top-bar-element-clickable-inactive::after {
        content: '';
    }

    .bottom-strip {
        display: none;
    }
}

