#top-bar {
    background-color: var(--header-footer-black);
    color: var(--nord4);
    display: flex;
    justify-content: flex-end;
    font-size: small;
}

#top-bar-links {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.top-bar-settings {
    display: flex;
    align-items: center;
    margin-right: 2px;
}

.top-bar-element-non-clickable {
    border-color: var(--nord2);
    height: auto;
    text-decoration: none;
    color: var(--nord4);
    background-color: var(--nord1);
    border-radius: 5px;
    padding: 0px 5px;
    margin: 5px;
    cursor: default;
}

.top-bar-element-clickable {
    text-decoration: none;
    color: var(--nord4);
}

.top-bar-element-clickable:hover {
    transform: translateY(5px);
    color: var(--nord10);
    background-color: var(--nord0);
}

.top-bar-element-clickable-active {
    transform: translateY(5px);
    background-color: var(--nord0);
    border-radius: 5px 5px 0px 0px;
    padding: 0px 5px;
    margin: 5px 5px 0px 5px;
    color: var(--nord10);
    cursor: default;
}

.top-bar-element-clickable-active::after {
    content: ' ▲';
}

.top-bar-element-clickable-inactive {
    background-color: var(--nord1);
    border-radius: 5px;
    padding: 0px 5px;
    margin: 5px 5px;
    border-width: 2px;
}

.top-bar-element-clickable-inactive::after {
    content: ' ▼';
}

@media only screen and (max-width: 500px) {
    #top-bar-links {
        flex-direction: column;
    }

    .top-bar-element-clickable:hover {
        transform: translateX(10px);
    }

    .top-bar-element-clickable-active {
        transform: translateY(0);
        background-color: var(--nord0);
        border-radius: 5px;
        padding: 0px 5px;
        margin: 5px 5px;
        border-width: 2px;
        color: var(--nord10);
    }
}

