@import '../../values/colors.css';

article.terminal {
    border-radius: 10px;
    background-color: var(--header-footer-black);
    padding: 5px 0px 0px 0px;
    margin: 5vh 5vw;
    height: fit-content
}

.terminal-contents {
    background-color: var(--nord1);
    border-radius: 0px 0px 10px 10px;
    padding: 30px;
    margin: 0px;
    height: 100%;
    width: 100%
}

.terminal-dots {
    display: flex;
    gap: 5px;
    margin: 10px 10px;
}

.terminal-dot {
    border-radius: 15px;
    height: 15px;
    width: 15px;
}

.terminal-dot:hover {
    filter: brightness(50%);
}

@media only screen and (max-width: 1024px) {
    article.terminal {
        margin: 5vh 2vw;
    }
}