.terminal-text {
    font-family: consolas, 'Courier New', Courier, monospace;
}

.terminal-text::selection {
    background: var(--nord7);
    color: var(--nord0);
}

.user-system {
    color: var(--nord8);
}

.path {
    color: var(--nord7);
}

.command {
    color: var(--nord13)
}