.terminal {
    border-radius: 10px;
    background-color: var(--header-footer-black);
    padding: 5px 0px 0px 0px;
    margin: 5vh 5vw;
    min-width: 50%;
    height: fit-content;
}

.terminal-titlebar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0.75rem;
}

.terminal-dots {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.terminal-dot {
    border-radius: 15px;
    height: 15px;
    width: 15px;
}

.terminal-dot:hover {
    filter: brightness(50%);
}

.terminal-title {
    color: var(--nord4);
}

.terminal-body {
    background-color: var(--nord1);
    border-radius: 0px 0px 10px 10px;
    padding-inline: 1rem;
    padding-block: 1rem;
}

.terminal-prompt {
    background-color: var(--nord1);
}

.prompt-user-system {
    color: var(--nord11);
}

.prompt-path {
    color: var(--nord13);
}

.prompt-command {
    color: var(--nord14);
}

.terminal-contents {
    margin-top: 1rem;
}

@media only screen and (max-width: 1024px) {
    .terminal {
        margin: 5vh 2vw;
    }
}

