.button {
  border: none;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer; 
  background-color: #2a2f3a;
  color: black;
  border: 2px solid #212529;
  border-radius: 5px;
  color: white;
}

.button:hover {
  background-color: #212529;
  
}
