.lug-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.lug-form > * {
    width: 80%;
}

.form-field {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.form-field > label {
    text-align: center;
}

.form-field.longlabel {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-field.longlabel > label {
    text-align: center;
}

.lug-form input,
.lug-form textarea,
.lug-form select {
    border-radius: 10px;
    border: none;
    background-color: var(--nord4);
    height: 2rem;
}

.form-textarea {
    display: flex;
    flex-direction: column;
}

.form-textarea > textarea {
    height: 5rem;
}

.form-start {
    text-align: center;
    font-size: xxx-large;
    color: var(--nord10);
}

.form-end {
    display: flex;
    justify-content: space-between;
}

.form-nav-button {
    background-color: var(--nord3);
    color: var(--nord6);
    border-color: var(--nord3);
    border-radius: 10px;
    display: flex;
    padding: 5px 10px;
}

.form-nav-button.next {
    margin-left: auto;
}
