.card {
    position: relative;
    width: 24rem;
    height: 28rem;
    background: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card img{
    width: 17rem;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #4c566a;
    transition: all 0.5s;
  }
  
  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
  }
  
  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  .overlay {
    margin-top: 4rem;
    font-family: consolas, "Courier New", Courier, monospace;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    position: absolute;
    height: 90%;
    opacity: 0;
    z-index: 1;
    transition: all 0.1s;
    gap: 5rem;
  }
  .overlayheading {
    font-size: 2rem !important;
  }
  .overlaydetails {
    width: 20rem;
  }
  .card:hover .overlay {
    height: 100%;
    opacity: 1;
  }
  /* Touch screen effect */
  .card:active .overlay {
    height: 100%;
    opacity: 1;
  }
 

