body {
    background-color: var(--nord0);
    height: fit-content;
    width: 100vw;
    max-width: calc(100vw - 10px); /* for scrollbar */
    font-size: 1.1rem;
}

main#content {
    display: flex;
    padding-right: 2rem;
    padding-block: 1rem;
    /* min-height set in app.js */
}

#terminals {
    flex: auto;
}

#terminals > .terminal {
    max-height: 100%;
}

aside#dock {
    flex: none;
    margin-right: 2rem;
}

@media only screen and (max-width: 1024px) {
    main#content {
        flex-direction: column-reverse;
        align-items: center;

        padding-inline: 2rem;
        padding-bottom: 0;
    }

    aside#dock {
        margin-top: 1rem;
        margin-right: 0;
    }
}

hr {
    background-color: var(--header-footer-black);
}

.no-selection {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1),
        0 0 20px rgba(0, 0, 0, 0.05), 0 0 30px rgba(0, 0, 0, 0.042),
        0 0 40px rgba(0, 0, 0, 0.03), 0 0 80px rgba(0, 0, 0, 0.02);
}

.terminal-text {
    font-family: consolas, 'Courier New', Courier, monospace;
    color: var(--nord4);
}

* ::selection {
    background-color: var(--nord7);
    color: var(--nord0);
}

br::selection {
    background-color: transparent;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--nord0);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--nord3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--nord2);
}

::-webkit-scrollbar-thumb:active {
    background: var(--nord10);
}

