@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .home-distro-card {
    position: relative;
    width: 24rem;
    height: 28rem;
    background: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .home-distro-card::before,
  .home-distro-card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #4c566a;
    transition: all 0.5s;
  }
  
  .home-distro-card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .home-distro-card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
  }
  
  .home-distro-card:hover::before,
  .home-distro-card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  .overlay {
    margin-top: 4rem;
    font-family: consolas, "Courier New", Courier, monospace;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    position: absolute;
    height: 90%;
    opacity: 0;
    z-index: 1;
    transition: all 0.1s;
    gap: 5rem;
  }
  .overlayheading {
    font-size: 2rem !important;
  }
  .overlaydetails {
    width: 20rem;
  }
  .home-distro-card:active::before,
  .home-distro-card:active:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  /* .home-distro-card:active > .overlay{
    filter:blur(0px) ;
  } */

  
  .home-distro-card:hover .overlay {
    height: 100%;
    opacity: 1;
  }
  .home-distro-card:active  .overlay {
    height: 100%;
    opacity: 1;
  }
}

body {
  background-color: var(--nord0);
  /* height: fit-content; */
  width: 100vw;
  max-width: calc(100vw - 10px); /* for scrollbar */
  font-size: 1.1rem;
}

main#content {
  display: flex;
  /* padding-right: 2rem; */
  padding-inline: 2rem;
  padding-block: 1rem;
  /* min-height set in app.js */
}

#terminals {
  flex: auto;
}

#terminals > .terminal {
  max-height: 100%;
}

aside.dock {
  flex: none;
  margin-right: 2rem;
}

@media only screen and (max-width: 1024px) {
  main#content {
    flex-direction: column-reverse;

    padding-inline: 2rem;
    padding-bottom: 0;
  }

  aside.dock {
    margin-top: 1rem;
    margin-right: 0;
  }
}

hr {
  background-color: var(--header-footer-black);
}

* ::selection {
  background-color: var(--nord7);
  color: var(--nord0);
}

br::selection {
  background-color: transparent;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--nord0);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--nord3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--nord2);
}

::-webkit-scrollbar-thumb:active {
  background: var(--nord10);
}

code {
  color: var(--nord11);
  background-color: var(--nord0);
  padding-inline: 0.5em;
  border-radius: 0.3em;
}

@media only screen and (max-width: 480px) {
  main#content {
    flex-direction: column-reverse;

    padding-inline: 0rem;
    padding-bottom: 0;
  }
}
