.like-button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #212529;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.like-button .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../images/heart.png');
  background-size: cover;
  margin-right: 5px;
}

.like-button .count {
  margin-left: 5px;
}

.like-button:hover {
  background-color: #212529;
  transform: scale(1.1);
  color: #fff;
}

.like-button:hover .icon {
  filter: brightness(0) invert(1);
}
