.noSelection {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1),
        0 0 20px rgba(0, 0, 0, 0.05), 0 0 30px rgba(0, 0, 0, 0.042),
        0 0 40px rgba(0, 0, 0, 0.03), 0 0 80px rgba(0, 0, 0, 0.02);
}

.terminalText {
    font-family: consolas, 'Courier New', Courier, monospace;
    color: var(--nord4);
}

@media only screen and (max-width: 600px) {
    .hideBelow600 {
        display: none;
    }
}

.v1emSpacer {
    height: 1em;
}
.container {
    position: relative;
    width: 75%;
    height: 0;
    padding-bottom: 42.1875%; 
    /*              (75%)/(16:9) = 42.1875%            */
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
