.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--nord1);
  padding: 20px;
  border-radius: 10px;
  border: 4px solid var(--bs-body-color);
  border-style: solid;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  overflow-x: auto;
  max-width: 90vw;
}
