
.popup {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--nord1);
    padding: 20px;
    border-radius: 10px;
    border: 4px solid var(--bs-body-color);
    border-style: solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 11;
    overflow-y: scroll;
    /* max-width: calc(100vw - 84px); */
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    overscroll-behavior: contain;
}

.blog_title{
    text-align: center;
    font-size: 45px;
    font-weight: 300;
}
