.svg {
    height: 3em;
    width: 3em;
    cursor: pointer;
}

.tuxBack {
    fill: var(--nord1);
}

.tuxMid {
    fill: var(--nord3);
}

.tuxFront {
    fill: var(--nord6);
}

.tuxBeak {
    /* fill: var(--nord12); */
    fill: orangered;
}

.svg:hover .tuxBack {
    fill: var(--nord10);
}

.svg:hover .tuxMid {
    fill: var(--nord9);
}

.svg:hover .tuxFront {
    fill: var(--nord6);
}

.svg:hover .tuxBeak {
    fill: var(--nord12);
}
