.sessionConent {
    padding-inline: 1em;
    counter-reset: h2counter;
}

.sessionConent h2::before {
    content: counter(h2counter) '. ';
    counter-increment: h2counter;
}
.sessionConent h2 {
    color: var(--nord13);
    counter-reset: h3counter;
}

.sessionConent h3::before {
    content: counter(h2counter) '.' counter(h3counter) '. ';
    counter-increment: h3counter;
}
.sessionConent h3 {
    color: var(--nord12);
    counter-reset: h4counter;
}

.sessionConent h4::before {
    content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter)
        '. ';
    counter-increment: h4counter;
}

.sessionConent table td,
.sessionConent table th {
    text-align: center;
    width: 45%;
    border: 1px solid var(--header-footer-black);
    padding: 0.5em;
}

.sessionConent table td:first-child,
.sessionConent table th:first-child {
    width: 10%;
}

.sessionConent table th {
    background-color: var(--nord0);
    border: 1px solid var(--header-footer-black);
}

