.next-prev {
    display: flex;
}

.next-prev > .next {
    margin-left: auto;
}

.next-prev > .prev {
    margin-right: auto;
}

@media only screen and (max-width: 630px) {
    .ls-output {
        display: none;
    }
}

.v-1em-spacer {
    height: 1em;
}
