dialog.settings {
    border-radius: 10px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog.settings::backdrop {
    background-color: rgba(0, 0, 0, 50%);
}

.settings-contents {
    margin: 10px;
}

.settings-toggle {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    cursor: pointer;
}

.settings-toggle:hover {
    background-color: var(--nord2);
}

