dialog.settings {
    border-radius: 10px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;

    width: fit-content;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog.settings::backdrop {
    background-color: rgba(0, 0, 0, 50%);
}

.settings-contents {
    margin: 10px;
}

.settings-heading {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.settings-toggle {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    cursor: pointer;
}

.settings-toggle:hover {
    background-color: var(--nord2);
}

.settings-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.settings-buttons > button {
    background-color: var(--nord3);
    color: var(--nord6);
    border-color: var(--nord3);
    border-radius: 10px;
    display: flex;
}

