dialog.settings {
    border-radius: 10px;
    border: none;
    background-color: transparent;
}

dialog.settings::backdrop {
    background-color: rgba(0, 0, 0, 50%);
}

.settings-contents {
    margin: 10px;
}

.settings-toggle {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    cursor: pointer;
}

.settings-toggle:hover {
    background-color: var(--nord2);
}

