.index {
    border-radius: 10px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;

    width: fit-content;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.index::backdrop {
    background-color: rgba(0, 0, 0, 50%);
}

.contents {
    margin: 10px;
}

.heading {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.toggle {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    cursor: pointer;
}

.toggle:hover {
    background-color: var(--nord2);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.buttons > button {
    background-color: var(--nord3);
    color: var(--nord6);
    border-color: var(--nord3);
    border-radius: 10px;
    display: flex;
}

