.terminal-container {
    border-radius: 10px;
    background-color: #212529; /* headerFooterBlack */
    /* background-color: #3B4252; */ /* NordTheme.nord1 */ 
    /* if the terminal container and contents have the same colour, consider refactoring the element a bit (reduce the top-padding a bit) */
    padding: 5px 0px 0px 0px;
    margin: 5vh 5vw;
    width: 50vw;
    height: fit-content
}

.terminal-contents {
    background-color: #3B4252/* NordTheme.nord1 */;
    color: #D8DEE9/* NordTheme.nord4 */;
    font-family: consolas;
    border-radius: 0px 0px 10px 10px;
    padding: 30px;
    margin: 0px;
    height: 100%;
    width: 100%
}

.terminal-dots {
    display: flex;
    gap: 5px;
    margin: 10px 10px;
}

.terminal-dot {
    border-radius: 15px;
    height: 15px;
    width: 15px;
}

.terminal-dot:hover {
    border-radius: 11px;
    height: 11px;
    width: 11px;
}

@media (max-width: 900px) {
    .terminal-container {
        width: 96vw;
        margin: 5vh 2vw;
    }
}