@import '../values/colors.css';

.terminal-container {
    border-radius: 10px;
    background-color: var(--header-footer-black);
    padding: 5px 0px 0px 0px;
    margin: 5vh 5vw;
    width: 50vw;
    height: fit-content
}

.terminal-contents {
    background-color: var(--nord1);
    color: var(--nord4);
    font-family: consolas;
    border-radius: 0px 0px 10px 10px;
    padding: 30px;
    margin: 0px;
    height: 100%;
    width: 100%
}

.terminal-dots {
    display: flex;
    gap: 5px;
    margin: 10px 10px;
}

.terminal-dot {
    border-radius: 15px;
    height: 15px;
    width: 15px;
}

@media (max-width: 900px) {
    .terminal-container {
        width: 96vw;
        margin: 5vh 2vw;
    }
}