@import '../values/colors.css';

.top-bar {
    background-color: var(--header-footer-black);
    color: var(--nord4);
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.top-bar-element-container {
    display: flex;
}

.top-bar-element-non-clickable {
    border-color: var(--nord2);
    height: auto;
    text-decoration: none;
    color: var(--nord4);
    background-color: var(--nord1);
    border-radius:  5px;
    padding: 0px 5px;
    margin: 5px;
    cursor: default;
}

.top-bar-element {
    border-color: var(--nord2);
    height: auto;
    text-decoration: none;
    color: var(--nord4);
}

.top-bar-element:hover {
    transform: translateY(5px);
}

.top-bar-element:hover {
    color: var(--nord10);
    background-color: var(--nord0);
}

.top-bar-element-active {
    transform: translateY(5px);
    background-color: var(--nord0);
    border-radius: 5px 5px 0px 0px;
    padding: 0px 5px;
    margin: 5px 5px 0px 5px;
    color: var(--nord10);
    cursor: default;
}

.top-bar-element-inactive {
    background-color: var(--nord1);
    border-radius:  5px;
    padding: 0px 5px;
    margin: 5px 5px;
    border-width: 2px;
}

.top-bar-right-side {
    display: flex;
}

@media (max-width: 500px) {
    .top-bar-element-container {
        flex-direction: column;
    }

    .top-bar-element-active {
        background-color: var(--nord0);
        border-radius:  5px;
        padding: 0px 5px;
        margin: 5px 5px;
        border-width: 2px;
        color: var(--nord10);
    }
}