.row {
    display: flex;
    align-items: center;
  }
  
  .info {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .info h3 {
    margin-right: 10px;
    
  }
  .info h5 {
    margin-right: 10px;
    
  }
  
  .like-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #2a2f3a;
    color: #e0e7ec;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 10px;
    padding: 4px;
    padding-right: 11px;
    
  }
  /* heart color inverted */
  .like-button .icon {
    color: #e0e7ec;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../../images/heart.png");
    background-size: cover;
    margin-right: 5px;
    filter: brightness(0) invert(1);
  }
  
  .like-button .count {
    margin-left: 5px;
  }
  
  .like-button:hover {
    background-color: #212529;
    transform: scale(1.1);
    color: #fff;
  }
  
  .like-button:hover .icon {
    filter: brightness(0) invert(1);
  }
  /*  */
  .blog_dept{
    display: flex;
    height: 3.5vh;
    width: 170px;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    background-color: #2a2f3a;
    /* border: 2px solid black; */
    border-radius: 8px;
    /* cursor: pointer; */
    /* font-family: Arial, sans-serif; */
    /* font-size: 24px; */
    /* color: #212529; */
    /* font-weight: bold; */
    /* transition: background-color 0.3s, transform 0.3s; */
    /* margin-right: 10px; */
  }
  .blog_dept:hover {

    background-color: #212529;
    /* border: 2px solid black; */
    border-radius: 8px;
    /* cursor: pointer; */
    /* font-family: Arial, sans-serif; */
    /* font-size: 24px; */
    color: #e0e7ec;
    /* font-weight: bold; */
    transition: background-color 0.3s, transform 0.3s;
    /* margin-right: 10px; */
  }
  /* FIXED FONT-SIZE AND ALIGNMENT AND ANIMATION OF DATE COMPONENT */
  .date{
    display: flex;
    height: 3.5vh;
    width: 120px;
    align-items: center;
    text-align: center;
    background-color: #2a2f3a;
    /* border: 2px solid black; */
    border-radius: 8px;
    justify-content: center;
    margin-left: 0.625rem;
    /* cursor: pointer; */
    /* font-family: Arial, sans-serif; */
    /* font-size: 24px; */
    /* color: #212529; */
    /* font-weight: bold; */
    /* transition: background-color 0.3s, transform 0.3s; */
    /* margin-right: 10px; */
    transition: background 0.5s;
    font-size: 1rem;
    padding: 1rem;
  }
  .date:hover {
    background-color: #212529;
    text-align: center;
    /* border: 2px solid black; */
    border-radius: 8px;
    /* cursor: pointer; */
    /* font-family: Arial, sans-serif; */
    /* font-size: 24px; */
    color: #e0e7ec;
    /* font-weight: bold; */
    transition: background-color 0.3s, transform 0.3s;
    /* margin-right: 10px; */
  }
  @media (max-width: 576px) {
    .info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 10px;
      justify-content: space-between;
      flex-direction: column;
      gap: 10px;
    }
  }

  .popup img{
    max-width: min(75%, 500px);
    max-height: min(75%, 500px);
  }