@import url('https://fonts.googleapis.com/css2?family=Roboto');

html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
}

.main {
    display: grid;;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    background-color: var(--nord2); 
    padding: 40px;
    width: calc(90vw - 80px);
    height: calc(90vh - 39px);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: calc(19.5px - 45vh);
    margin-left: calc(40px - 45vw);
    border-radius: 30px;
    z-index: 100;
    /* font-family: 'Roboto', sans-serif; */
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.photo {
    border-radius: 50%;
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo img{
    width: 200px;
    height: 200px;
}

.name {
    /* font-weight: bold; */
    font-size: 1.2em;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.details_option {
    background-color: hsl(220, 16%, 25%);
    border-radius: 20px;
    padding: 20px;
    text-transform: uppercase;
}

.details_desc{
    float: right;
}

.side {
    display: flex;
    flex-direction: column;
    background-color: var(--nord1);
    height: 400px;
    border-radius: 20px;
    gap: 10px;
    align-items: center;
    overflow-y: auto;
}

.side_header {
    background-color: var(--nord0);
    padding: 16px;
    border-radius: 20px;
    /* font-weight: bold; */
    width: 100%;
    top: 0;
    position: sticky;
    text-align: center;
}

.side_contribs {
    color: #fff;
    padding: 12px;
    background-color: var(--nord2);
    border-radius: 10px;
    width: 90%;
}

.side_contribs:last-child {
    margin-bottom: 20px;
}

.close {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--nord1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close:hover{
    color: rgb(255, 0, 0);
}

.display_inactive {
    display: none;
}

.display_active {
    display: grid;
}

@media only screen and (max-width: 1024px) {
    .main {
        grid-template-rows: 300px 1fr;
        grid-template-columns: 1fr;
        overflow-y: auto;
        align-items: inherit;
        padding-top: 80px;
    }

    .side {
        height: fit-content;
        grid-column: span 2;
    }

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media only screen and (max-width: 750px) {
    .main {
        width: 100vw;
        margin-top: -50vh;
        margin-left: -50vw;
        border-radius: 0;
        height: 100vh;
    }
}


@media only screen and (max-width: 570px) {
    .main {
        padding: 20px;
        padding-top: 80px;
    }

    .details_option {
        padding: 12px;
        border-radius: 12px;
    }
}

@media only screen and (max-width: 500px) {
    .main{
        font-size: 0.75em;
    }

    .details_option{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .photo img{
        width: 120px;
        height: 120px;
    }
}