.lug-link,
.lug-link:visited {
    text-decoration: none;
    color: var(--nord10);
}

.lug-link:hover,
.lug-link:active,
.lug-link:visited:hover,
.lug-link:visited:active {
    color: var(--nord8);
}

.lug-link::selection,
.lug-link:visited::selection {
    color: var(--nord6);
    background-color: var(--nord10);
}
