.index,
.index:visited {
    text-decoration: none;
    color: var(--nord10);
}

.index:hover,
.index:active,
.index:visited:hover,
.index:visited:active {
    color: var(--nord8);
}

.index::selection,
.index:visited::selection {
    color: var(--nord6);
    background-color: var(--nord10);
}

