.notice{
    width: 40rem;
    height: 50rem;
    background-color: #272a30;
    padding: 1.25rem/* 20px */;
    border-top-left-radius: 0.5rem/* 8px */;
    border-bottom-left-radius: 0.5rem/* 8px */;
}
@media only screen and (max-width: 400px) {
    .notice {
        width: 40rem;
        height: 85rem;
        background-color: #272a30;
        padding: 1.25rem/* 20px */;
        border-top-left-radius: 0.5rem/* 8px */;
        border-bottom-left-radius: 0.5rem/* 8px */;
    }
  }
.notice2{
    width: 40rem;
    height: 50rem;
    background-color: #272a30;
    padding: 1.25rem/* 20px */;
    border-top-left-radius: 0.5rem/* 8px */;
    border-bottom-left-radius: 0.5rem/* 8px */;
}
@media only screen and (max-width: 400px) {
    .notice2 {
        width: 25rem;
        height: 50rem;
        background-color: #272a30;
        padding: 1.25rem/* 20px */;
        border-top-left-radius: 0.5rem/* 8px */;
        border-bottom-left-radius: 0.5rem/* 8px */;
    }
  }

  .banner{
    height: 250px;
    width: 60vw;
    border-radius: 10px;
  }
  @media only screen and (max-width: 400px ) {
    .banner{
        height: 90px;
        width: 320px;
        border-radius: 10px;
      }
  }
  @media only screen and  (max-width: 1000px) and (min-width: 400px) {
    .banner{
        height: 160px;
        width: 60vw;
        border-radius: 10px;
      }
  }