name: React CD

on:
    push:
        branches: [master]
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - name: Check out repo
              uses: actions/checkout@v2

            - name: Setup Node
              uses: actions/setup-node@v2

            - name: Install dependencies
              run: npm ci

            - name: Build React
              run: CI=false && npm run build

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./build
